/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Yuri Zubkov <utlark@ya.ru> */

/dts-v1/;

#include <dt-bindings/soc/rockchip,vop2.h>
#include "rk3568-diasom-som.dtsi"

/ {
	model = "Saut DS-RK3568-SIB-2";
	compatible = "saut,ds-rk3568-som-sib", "diasom,ds-rk3568-som", "rockchip,rk3568";

	aliases {
		can0 = &can1;
		ethernet0 = &gmac0;
		sound0 = &sound0;
		mmc0 = &sdmmc0;
	};

	chosen {
		environment-sd {
			compatible = "barebox,environment";
			device-path = &sdmmc0, "partname:env";
			status = "disabled";
		};
	};

	sound0: es8388-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "ES8388";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&es8388_master>;
		simple-audio-card,frame-master = <&es8388_master>;

		es8388_master: simple-audio-card,cpu {
			sound-dai = <&i2s1_8ch>;
		};

		es8388_codec: simple-audio-card,codec {
			sound-dai = <&es8388>;
		};
	};

	vcc1v8_sys: vcc1v8-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "1v8_sys";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc3v3_sys>;
	};
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&can1m0_pins>;
	status = "okay";
};

&gmac0 {
	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim &gmac0_tx_bus2 &gmac0_rx_bus2 &gmac0_rgmii_clk &gmac0_rgmii_bus>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy0>;
	phy-mode = "rgmii-id";
	phy-supply = <&vcc3v3_sys>;
	status = "okay";
};

&i2c4 {
	clock-frequency = <400000>;
	status = "okay";

	es8388: codec@10 {
		compatible = "everest,es8388";
		assigned-clocks = <&cru I2S1_MCLKOUT_TX>;
		assigned-clock-rates = <12288000>;
		assigned-clock-parents = <&cru CLK_I2S1_8CH_TX>;
		reg = <0x10>;
		clocks = <&cru I2S1_MCLKOUT_TX>;
		DVDD-supply = <&vcc1v8_sys>;
		AVDD-supply = <&vcc3v3_sys>;
		PVDD-supply = <&vcc3v3_sys>;
		HPVDD-supply = <&vcc3v3_sys>;

		#sound-dai-cells = <0>;
	};
};

&i2s1_8ch {
	/* I2S Sound */
	pinctrl-0 = <
		&i2s1_pins
		&i2s1m1_sdo0	/* I2S1_SDO0 */
		&i2s1m1_sdi0	/* I2S1_SDI0 */
	>;
	rockchip,trcm-sync-tx-only;
	status = "okay";
};

&mdio0 {
	rgmii_phy0: phy@0 {
		pinctrl-names = "default";
		pinctrl-0 = <&gmac0_rst_pins>;
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio2 RK_PD3 GPIO_ACTIVE_LOW>;
	};
};

&sdmmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	cd-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
	disable-wp;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc3v3_sys>;
	vqmmc-supply = <&vccio_sd>;
	status = "okay";
};

&pinctrl {
	pinctrl-names = "default";

	i2s {
		i2s1_pins: i2s1-pins {
			rockchip,pins =
				<3 RK_PC6 4 &pcfg_pull_none_smt>,			/* I2S1_MCLK */
				<3 RK_PC7 4 &pcfg_pull_none_smt>,			/* I2S1_TX_SCLK */
				<3 RK_PD0 4 &pcfg_pull_none_smt>;			/* I2S1_TX_LRCK */
		};
	};

	net {
		gmac0_rst_pins: gmac0-rst-pins {
			rockchip,pins =
				<2 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;	/* GMAC0_RST */
		};
	};
};
