/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;

#include <arm64/rockchip/rk3568.dtsi>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/soc/rockchip,vop2.h>

#include "rk356x.dtsi"

#define USBOTG_HOST

/ {
	model = "Diasom DS-RK3568-EVB";
	compatible = "diasom,ds-rk3568-evb", "rockchip,rk3568";
	chassis-type = "embedded";

	aliases {
		camera0 = &xc7160;
		camera1 = &imx335;
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		mmc0 = &sdmmc0;
		mmc1 = &sdhci;
		sound0 = &sound0;
	};

	chosen: chosen {
		stdout-path = "serial2:1500000n8";

		environment-emmc {
			compatible = "barebox,environment";
			device-path = &sdhci, "partname:env";
			status = "disabled";
		};

		environment-sd {
			compatible = "barebox,environment";
			device-path = &sdmmc0, "partname:env";
			status = "disabled";
		};
	};

	adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1300000>;
		poll-interval = <100>;

		button-recovery {
			label = "Recovery";
			linux,code = <KEY_VENDOR>;
			press-threshold-microvolt = <18000>;
		};
	};

	can@fe580000 {
		pinctrl-names = "default";
		pinctrl-0 = <&can1m0_pins>;
		compatible = "rockchip,rk3568-can-2.0";
		reg = <0x0 0xfe580000 0x0 0x1000>;
		interrupts = <GIC_SPI 2 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cru CLK_CAN1>, <&cru PCLK_CAN1>;
		clock-names = "baudclk", "apb_pclk";
		resets = <&cru SRST_CAN1>, <&cru SRST_P_CAN1>;
		reset-names = "can", "can-apb";
		tx-fifo-depth = <1>;
		rx-fifo-depth = <6>;
	};

	can@fe590000 {
		pinctrl-names = "default";
		pinctrl-0 = <&can2m0_pins>;
		compatible = "rockchip,rk3568-can-2.0";
		reg = <0x0 0xfe590000 0x0 0x1000>;
		interrupts = <GIC_SPI 3 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cru CLK_CAN2>, <&cru PCLK_CAN2>;
		clock-names = "baudclk", "apb_pclk";
		resets = <&cru SRST_CAN2>, <&cru SRST_P_CAN2>;
		reset-names = "can", "can-apb";
		tx-fifo-depth = <1>;
		rx-fifo-depth = <6>;
	};

	csi2_dphy0: csi2-dphy0 {
		compatible = "rockchip,rk3568-csi2-dphy";
		rockchip,hw = <&csi2_dphy_hw>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				#address-cells = <1>;
				#size-cells = <0>;

				xc7160_in: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&xc7160_out>;
					data-lanes = <1 2 3 4>;
				};

				imx335_in: endpoint@1 {
					reg = <1>;
					remote-endpoint = <&imx335_out>;
					data-lanes = <1 2 3 4>;
				};
			};

			port@1 {
				reg = <1>;

				csi_out: endpoint {
					remote-endpoint = <&isp_in>;
					data-lanes = <1 2 3 4>;
				};
			};
		};
	};

	csi2_dphy_hw: csi2-dphy-hw@fe870000 {
		compatible = "rockchip,rk3568-csi2-dphy-hw";
		reg = <0x0 0xfe870000 0x0 0x1000>;
		clocks = <&cru PCLK_MIPICSIPHY>;
		clock-names = "pclk";
		rockchip,grf = <&grf>;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm5 0 25000 0>;
		brightness-levels = <0 255>;
		num-interpolated-steps = <256>;
		default-brightness-level = <255>;
	};

	hdmi-connector {
		compatible = "hdmi-connector";
		label = "HDMI";
		type = "a";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&hdmi_connector_out>;
			};
		};
	};

	isp: rkisp@fdff0000 {
		compatible = "rockchip,rk3568-rkisp";
		reg = <0x0 0xfdff0000 0x0 0x10000>;
		interrupts = <GIC_SPI 57 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 58 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "mipi_irq", "mi_irq", "isp_irq";
		clocks = <&cru ACLK_ISP>, <&cru HCLK_ISP>, <&cru CLK_ISP>;
		clock-names = "aclk_isp", "hclk_isp", "clk_isp";
		resets = <&cru SRST_ISP>, <&cru SRST_H_ISP>;
		reset-names = "isp", "isp-h";
		rockchip,grf = <&grf>;
		power-domains = <&power RK3568_PD_VI>;
		iommus = <&isp_mmu>;
		rockchip,iq-feature = /bits/ 64 <0x1BFBFFFE67FF>;
	};

	isp_mmu: iommu@fdff1a00 {
		compatible = "rockchip,rk3568-iommu";
		reg = <0x0 0xfdff1a00 0x0 0x100>;
		interrupts = <GIC_SPI 59 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&cru ACLK_ISP>, <&cru HCLK_ISP>;
		clock-names = "aclk", "iface";
		power-domains = <&power RK3568_PD_VI>;
		rockchip,disable-mmu-reset;
		#iommu-cells = <0>;
	};

	isp_vir0: rkisp-vir0 {
		compatible = "rockchip,rkisp-vir";
		rockchip,hw = <&isp>;

		port {
			#address-cells = <1>;
			#size-cells = <0>;

			isp_in: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&csi_out>;
			};
		};
	};

	/* Should be added in 6.8+ */
	/*
	 * There are no private per-core L2 caches, but only the
	 * L3 cache that appears to the CPU cores as L2 caches
	 */
	l3_cache: l3-cache {
		compatible = "cache";
		cache-level = <2>;
		cache-unified;
		cache-size = <0x80000>;
		cache-line-size = <64>;
		cache-sets = <512>;
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&leds_pins>;

		led-live {
			label = "som:live";
			gpios = <&gpio0 RK_PA6 GPIO_ACTIVE_HIGH>;
			function = LED_FUNCTION_HEARTBEAT;
			color = <LED_COLOR_ID_GREEN>;
			linux,default-trigger = LED_FUNCTION_HEARTBEAT;
			default-state = "off";
			panic-indicator;
		};

		led-act {
			label = "som:act";
			gpios = <&gpio0 RK_PC0 GPIO_ACTIVE_HIGH>;
			function = LED_FUNCTION_ACTIVITY;
			color = <LED_COLOR_ID_GREEN>;
			linux,default-trigger = LED_FUNCTION_ACTIVITY;
			default-state = "off";
		};
	};

	lvds: lvds {
		compatible = "rockchip,rk3568-lvds";
		phys = <&dsi_dphy0>;
		phy-names = "dphy";
		power-domains = <&power RK3568_PD_VO>;
		rockchip,grf = <&grf>;
		rockchip,output = "lvds";
		status = "disabled";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				lvds_in_vp2: endpoint {
					remote-endpoint = <&vp2_out_lvds>;
				};
			};

			port@1 {
				reg = <1>;

				lvds_out_panel: endpoint {
					remote-endpoint = <&lvds_in_panel>;
				};
			};
		};
	};

	lvds_panel: panel {
		pinctrl-names = "default";
		pinctrl-0 = <&lvds_pins>;
		compatible = "panel-lvds";
		backlight = <&backlight>;
		data-mapping = "jeida-24";
		enable-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
		width-mm = <210>;
		height-mm = <158>;
		status = "disabled";

		panel-timing {
			/* Raystar RFM1040G-AWW-LNN 1024x768@60 */
			clock-frequency = <65000000>;
			hactive = <1024>;
			vactive = <768>;
			hsync-len = <4>;
			hfront-porch = <100>;
			hback-porch = <216>;
			vfront-porch = <30>;
			vback-porch = <7>;
			vsync-len = <1>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <0>;
			pixelclk-active = <0>;
		};

		port {
			lvds_in_panel: endpoint {
				remote-endpoint = <&lvds_out_panel>;
			};
		};
	};

	sound0: es8388-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "ES8388";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&es8388_master>;
		simple-audio-card,frame-master = <&es8388_master>;

		es8388_master: simple-audio-card,cpu {
			sound-dai = <&i2s1_8ch>;
		};

		simple-audio-card,codec {
			sound-dai = <&es8388>;
		};
	};

	usb {
		pinctrl-names = "default";
		pinctrl-0 = <&usbmux_pins>;
		compatible = "genesys,gl9962", "gpio-sbu-mux";
		enable-gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
		select-gpios = <&gpio4 RK_PD2 GPIO_ACTIVE_LOW>;
		orientation-switch;
		mode-switch;

		port {
			typec_sbu: endpoint {
				remote-endpoint = <&fusb_sbu>;
			};
		};
	};

	dummy: dummy-regulator {
		compatible = "regulator-fixed";
		regulator-name = "dummy";
	};

	vcc0v9_cpu: vcc0v9-cpu-regulator {
		compatible = "regulator-fixed";
		regulator-name = "0v9_cpu";
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc3v3_pmu>;
	};

	vcc1v8_sys: vcc1v8-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "1v8_sys";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc3v3_sys>;
	};

	vcc3v3_pcie20: vcc3v3-pcie20-pwr-regulator {
		pinctrl-0 = <&pcie20_pwr_pins>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 RK_PD3 GPIO_ACTIVE_HIGH>;
		regulator-name = "3v3_pcie20";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <20000>;
		vin-supply = <&vcc3v3_sys>;
	};

	vcc3v3_pcie30: vcc3v3-pcie30-regulator {
		pinctrl-0 = <&pcie30_pwr_pins>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
		regulator-name = "3v3_pcie30";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <20000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_pi6c: vcc3v3-pi6c-regulator {
		pinctrl-0 = <&pcie30_oe_pins>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		gpio = <&gpio3 RK_PD4 GPIO_ACTIVE_LOW>;
		regulator-name = "3v3_pi6c";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <1000>;
		vin-supply = <&vcc3v3_pcie30>;
	};

	vcc3v3_sys: vcc3v3-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "3v3_sys";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0_sys: vcc5v0-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "5v0_sys";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc5v0_usb3_host1: vcc5v0-usb3-host1-regulator {
		pinctrl-names = "default";
		pinctrl-0 = <&usb3_host1_en_pins>;
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc5v0_usb3_host1";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		startup-delay-us = <20000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0_usb3_otg0: vcc5v0-usb3-otg0-regulator {
		pinctrl-names = "default";
		pinctrl-0 = <&usb3_otg0_en_pins>;
		compatible = "regulator-fixed";
		gpio = <&gpio1 RK_PA5 GPIO_ACTIVE_LOW>;
		regulator-name = "vcc5v0_usb3_otg0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		startup-delay-us = <20000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_cam: vcc-cam-regulator {
		pinctrl-names = "default";
		pinctrl-0 = <&csi0_pwr>;
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio2 RK_PD2 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc_cam";
		startup-delay-us = <250000>;
		vin-supply = <&vcc5v0_sys>;
	};
};

/delete-node/ &xin32k;

&combphy0 {
	/* USB3.0 OTG0 */
	status = "okay";
};

&combphy1 {
	/* USB3.0 HOST1 */
	status = "okay";
};

&combphy2 {
	/* PCI-E 2.0 */
	phy-supply = <&vcc3v3_pcie20>;
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vcc0v9_cpu>;
	/* Should be added in 6.8+ */
	i-cache-size = <0x8000>;
	i-cache-line-size = <64>;
	i-cache-sets = <128>;
	d-cache-size = <0x8000>;
	d-cache-line-size = <64>;
	d-cache-sets = <128>;
	next-level-cache = <&l3_cache>;
};

&cpu1 {
	cpu-supply = <&vcc0v9_cpu>;
	/* Should be added in 6.8+ */
	i-cache-size = <0x8000>;
	i-cache-line-size = <64>;
	i-cache-sets = <128>;
	d-cache-size = <0x8000>;
	d-cache-line-size = <64>;
	d-cache-sets = <128>;
	next-level-cache = <&l3_cache>;
};

&cpu2 {
	cpu-supply = <&vcc0v9_cpu>;
	/* Should be added in 6.8+ */
	i-cache-size = <0x8000>;
	i-cache-line-size = <64>;
	i-cache-sets = <128>;
	d-cache-size = <0x8000>;
	d-cache-line-size = <64>;
	d-cache-sets = <128>;
	next-level-cache = <&l3_cache>;
};

&cpu3 {
	cpu-supply = <&vcc0v9_cpu>;
	/* Should be added in 6.8+ */
	i-cache-size = <0x8000>;
	i-cache-line-size = <64>;
	i-cache-sets = <128>;
	d-cache-size = <0x8000>;
	d-cache-line-size = <64>;
	d-cache-sets = <128>;
	next-level-cache = <&l3_cache>;
};

&cpu0_opp_table {
	/delete-node/ opp-1608000000;
	/delete-node/ opp-1800000000;
	/delete-node/ opp-1992000000;
};

&dsi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	panel@0 {
		pinctrl-names = "default";
		pinctrl-0 = <&dsi_pins>;
		compatible = "raystar,display-rfh1010j-ayh";
		reg = <0>;
		backlight = <&backlight>;
		reset-gpios = <&gpio0 RK_PB6 GPIO_ACTIVE_HIGH>;
		enable-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
		vdd-supply = <&vcc3v3_sys>;
		vccio-supply = <&vcc1v8_sys>;

		port {
			dsi_in_panel: endpoint {
				remote-endpoint = <&dsi_out_panel>;
			};
		};
	};
};

&dsi_dphy0 {
	status = "okay";
};

&dsi0_in {
	dsi0_in_vp1: endpoint {
		remote-endpoint = <&vp1_out_dsi0>;
	};
};

&dsi0_out {
	dsi_out_panel: endpoint {
		remote-endpoint = <&dsi_in_panel>;
	};
};

&gmac0 {
	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim &gmac0_tx_bus2 &gmac0_rx_bus2 &gmac0_rgmii_clk &gmac0_rgmii_bus>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy0>;
	phy-mode = "rgmii-id";
	phy-supply = <&vcc3v3_sys>;
	status = "okay";
};

&gmac1 {
	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim &gmac1m1_tx_bus2 &gmac1m1_rx_bus2 &gmac1m1_rgmii_clk &gmac1m1_rgmii_bus>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy1>;
	phy-mode = "rgmii-id";
	phy-supply = <&vcc3v3_sys>;
	status = "okay";
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
};

&hdmi {
	avdd-0v9-supply = <&vdda0v9_image>;
	avdd-1v8-supply = <&vcca1v8_image>;
	status = "okay";
};

&hdmi_in {
	hdmi_in_vp0: endpoint {
		remote-endpoint = <&vp0_out_hdmi>;
	};
};

&hdmi_out {
	hdmi_connector_out: endpoint {
		remote-endpoint = <&hdmi_connector_in>;
	};
};

&hdmi_sound {
	status = "okay";
};

&i2c0 {
	clock-frequency = <1000000>;
	status = "okay";

	pmic@20 {
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_pins &pmic_int_pins &clk32k_in>;
		compatible = "rockchip,rk809";
		reg = <0x20>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA3 IRQ_TYPE_LEVEL_LOW>;
		rockchip,system-power-controller;
		vcc1-supply = <&vcc3v3_sys>;
		vcc2-supply = <&vcc3v3_sys>;
		vcc3-supply = <&vcc3v3_sys>;
		vcc4-supply = <&vcc3v3_sys>;
		vcc5-supply = <&vcc3v3_sys>;
		vcc6-supply = <&vcc3v3_sys>;
		vcc7-supply = <&vcc3v3_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc3v3_sys>;
		clock-output-names = "xin32k";
		wakeup-source;
		#clock-cells = <1>;

		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-name = "vdd_logic";
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <0x2>;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-ramp-delay = <6001>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_gpu: DCDC_REG2 {
				regulator-name = "vdd_gpu";
				regulator-always-on;
				regulator-initial-mode = <0x2>;
				regulator-min-microvolt = <825000>;
				regulator-max-microvolt = <1000000>;			
				regulator-ramp-delay = <6001>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <0x2>;

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vdd_npu: DCDC_REG4 {
				regulator-name = "vdd_npu";
				regulator-initial-mode = <0x2>;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <1000000>;
				regulator-ramp-delay = <6001>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8: DCDC_REG5 {
				regulator-name = "vcc_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_image: LDO_REG1 {
				regulator-name = "vdda0v9_image";
				/* Temporary hack regulator-always-on and regulator-boot-on
				   properties until we have regulator handling for dsi & lvds nodes
				*/
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v9: LDO_REG2 {
				regulator-name = "vdda_0v9";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_pmu: LDO_REG3 {
				regulator-name = "vdda0v9_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vccio_sd: LDO_REG5 {
				regulator-name = "vccio_sd";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_pmu: LDO_REG6 {
				regulator-name = "vcc3v3_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcca_1v8: LDO_REG7 {
				regulator-name = "vcca_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcca1v8_pmu: LDO_REG8 {
				regulator-name = "vcca1v8_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcca1v8_image: LDO_REG9 {
				regulator-name = "vcca1v8_image";
				/* Temporary hack regulator-always-on and regulator-boot-on
				   properties until we have regulator handling for dsi & lvds nodes
				*/
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3_sw1: SWITCH_REG1 {
				regulator-name = "vcc_3v3_sw1";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3_sw2: SWITCH_REG2 {
				regulator-name = "vcc_3v3_sw2";
				regulator-always-on;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};
};

&i2c1 {
	/* FUSB302 is not detected at 1MHz, so lets reduce frequency to 400KHz */
	clock-frequency = <400000>;
	status = "okay";

	usb@22 {
		pinctrl-names = "default";
		pinctrl-0 = <&fusb302_pins>;
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PC1 IRQ_TYPE_LEVEL_LOW>;
		vbus-supply = <&vcc5v0_usb3_otg0>;

		connector {
			compatible = "usb-c-connector";
#ifdef USBOTG_HOST
			data-role = "host";
#else
			data-role = "dual";
#endif
			label = "USB-C";
			pd-disable;
			power-role = "source";
			typec-power-opmode = "default";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					/* HS */
					reg = <0>;

					fusb_hs: endpoint {
						remote-endpoint = <&typec_hs>;
					};
				};

				port@1 {
					/* SS */
					reg = <1>;

					fusb_ss: endpoint {
						remote-endpoint = <&typec_ss>;
					};
				};

				port@2 {
					/* Orientation Switch */
					reg = <2>;

					fusb_sbu: endpoint {
						remote-endpoint = <&typec_sbu>;
					};
				};
			};
		};

		port {
			/* Role Switch */

			fusb_role_sw: endpoint {
				remote-endpoint = <&typec_role_sw>;
			};
		};
	};
};

&i2c4 {
	clock-frequency = <400000>;
	status = "okay";

	es8388: codec@10 {
		compatible = "everest,es8388";
		assigned-clocks = <&cru I2S1_MCLKOUT_TX>;
		assigned-clock-rates = <12288000>;
		assigned-clock-parents = <&cru CLK_I2S1_8CH_TX>;
		reg = <0x10>;
		clocks = <&cru I2S1_MCLKOUT_TX>;
		DVDD-supply = <&vcc1v8_sys>;
		AVDD-supply = <&vcc3v3_sys>;
		PVDD-supply = <&dummy>;
		HPVDD-supply = <&dummy>;

		#sound-dai-cells = <0>;
	};

	imx335: camera@1a {
		compatible = "sony,imx335";
		reg = <0x1a>;
		clocks = <&xin24m>;
		power-domains = <&power RK3568_PD_VI>;
		avdd-supply = <&vcc_cam>;
		dvdd-supply = <&vcc_cam>;
		ovdd-supply = <&vcc_cam>;
		status = "disabled";

		port {
			imx335_out: endpoint {
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&imx335_in>;
				link-frequencies = /bits/ 64 <594000000>;
			};
		};
	};

	xc7160: camera@1b {
		pinctrl-names = "default";
		pinctrl-0 = <&cif_clk &csi0_rst>;
		compatible = "firefly,xc7160";
		reg = <0x1b>;
		clocks = <&cru CLK_CIF_OUT>;
		clock-names = "xvclk";
		power-domains = <&power RK3568_PD_VI>;
		reset-gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_HIGH>;
		avdd-supply = <&vcc5v0_sys>;
		dovdd-supply = <&vcc5v0_sys>;
		dvdd-supply = <&vcc5v0_sys>;
		status = "disabled";

		port {
			xc7160_out: endpoint {
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&xc7160_in>;
			};
		};
	};
};

&i2s0_8ch {
	/* HDMI Sound */
	status = "okay";
};

&i2s1_8ch {
	/* I2S Sound */
	pinctrl-0 = <
		&i2s1_pins
		&i2s1m1_sdo0		/* I2S1_SDO0 */
		&i2s1m1_sdi0		/* I2S1_SDI0 */
	>;
	rockchip,trcm-sync-tx-only;
	status = "okay";
};

&mdio0 {
	rgmii_phy0: phy@0 {
		pinctrl-names = "default";
		pinctrl-0 = <&gmac0_rst_pins>;
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio2 RK_PD3 GPIO_ACTIVE_LOW>;
	};
};

&mdio1 {
	rgmii_phy1: phy@0 {
		pinctrl-names = "default";
		pinctrl-0 = <&gmac1_rst_pins>;
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_LOW>;
	};
};

&pcie2x1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie20_pins>;
	reset-gpios = <&gpio1 RK_PB1 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie20>;
	status = "okay";
};

&pcie3x2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie30_pins>;
	reset-gpios = <&gpio4 RK_PC4 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pi6c>;
	status = "okay";
};

&pcie30phy {
	phy-supply = <&vcc3v3_pcie30>;
	status = "okay";
};

&pmu_io_domains {
	pmuio1-supply = <&vcc3v3_pmu>;
	pmuio2-supply = <&vcc3v3_pmu>;
	vccio1-supply = <&vcc_1v8>;
	vccio2-supply = <&vcc_1v8>;
	vccio3-supply = <&vccio_sd>;
	vccio4-supply = <&vcc_1v8>;
	vccio5-supply = <&vcc_1v8>;
	vccio6-supply = <&vcc_1v8>;
	vccio7-supply = <&vcc_3v3_sw1>;
	status = "okay";
};

&pwm5 {
	status = "okay";
};

&saradc {
	vref-supply = <&vcca_1v8>;
	status = "okay";
};

&sdhci {
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_bus8 &emmc_clk &emmc_cmd &emmc_datastrobe &emmc_rstnout>;
	bus-width = <8>;
	max-frequency = <200000000>;
	non-removable;
	no-mmc-hs400;
	no-sd;
	no-sdio;
	vmmc-supply = <&vcc_3v3_sw1>;
	vqmmc-supply = <&vcc_1v8>;
	status = "okay";
};

&sdmmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	cd-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
	disable-wp;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc3v3_sys>;
	vqmmc-supply = <&vccio_sd>;
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1m1_pins_hs &spi1m1_cs0_hs>;
	num-cs = <1>;
	status = "okay";

	spi@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
	};
};

&spi2 {
	pinctrl-0 = <&spi2m1_pins_hs &spi2m1_cs0_hs &spi2m1_cs1_hs>;
	num-cs = <2>;
	status = "okay";

	spi@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
	};

	spi@1 {
		compatible = "rohm,dh2228fv";
		reg = <1>;
	};
};

&tsadc {
	rockchip,hw-tshut-temp = <95000>;
	rockchip,hw-tshut-mode = <0>;
	rockchip,hw-tshut-polarity = <0>;
	status = "okay";
};

&vop {
	assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>;
	assigned-clock-parents = <&pmucru PLL_HPLL>, <&cru PLL_VPLL>;
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vp0 {
	vp0_out_hdmi: endpoint@ROCKCHIP_VOP2_EP_HDMI0 {
		reg = <ROCKCHIP_VOP2_EP_HDMI0>;
		remote-endpoint = <&hdmi_in_vp0>;
	};
};

&vp1 {
	vp1_out_dsi0: endpoint@ROCKCHIP_VOP2_EP_MIPI0 {
		reg = <ROCKCHIP_VOP2_EP_MIPI0>;
		remote-endpoint = <&dsi0_in_vp1>;
	};
};

&vp2 {
	status = "disbled";

	vp2_out_lvds: endpoint@ROCKCHIP_VOP2_EP_LVDS0 {
		reg = <ROCKCHIP_VOP2_EP_LVDS0>;
		remote-endpoint = <&lvds_in_vp2>;
	};
};

&uart2 {
	status = "okay";
};

&uart3 {
	pinctrl-0 = <&uart3m1_xfer &uart3m0_ctsn &uart3m0_rtsn>;
	/* Should be added in 6.8+ */
	dma-names = "tx", "rx";
	status = "okay";
};

&uart7 {
	pinctrl-0 = <&uart7m1_xfer &uart7m0_ctsn &uart7m0_rtsn>;
	/* Should be added in 6.8+ */
	dma-names = "tx", "rx";
	status = "okay";
};

&uart8 {
	pinctrl-0 = <&uart8m0_xfer &uart8m0_ctsn &uart8m0_rtsn>;
	/* Should be added in 6.8+ */
	dma-names = "tx", "rx";
	status = "okay";
};

&uart9 {
	pinctrl-0 = <&uart9m1_xfer>;
	/* Should be added in 6.8+ */
	dma-names = "tx", "rx";
	status = "okay";
};

&usb_host0_xhci {
#ifdef USBOTG_HOST
	dr_mode = "host";
#else
	usb-role-switch;
#endif
	status = "okay";

	port {
		typec_role_sw: endpoint {
			/* Role Switch */

			remote-endpoint = <&fusb_role_sw>;
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			/* HS */
			reg = <0>;

			typec_hs: endpoint {
				remote-endpoint = <&fusb_hs>;
			};
		};

		port@1 {
			/* SS */
			reg = <1>;

			typec_ss: endpoint {
				remote-endpoint = <&fusb_ss>;
			};
		};
	};
};

&usb_host1_xhci {
	status = "okay";
};

&usb2phy0 {
	status = "okay";
};

&usb2phy0_host {
	phy-supply = <&vcc5v0_usb3_host1>;
	status = "okay";
};

&usb2phy0_otg {
#ifdef USBOTG_HOST
	phy-supply = <&vcc5v0_usb3_otg0>;
#endif
	status = "okay";
};

&pinctrl {
	pinctrl-0 = <&board_pins>;
	pinctrl-names = "default";

	board {
		board_pins: board-pins {
			rockchip,pins =
				<1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>,		/* GPIO_1 */
				<1 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>,		/* GPIO_2 */
				<1 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>,		/* GPIO_3 */
				<1 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;		/* GPIO_4 */
		};
	};

	csi {
		/* csi0 clkout = cif_clk */

		csi0_rst: csi0-rst-pins {
			rockchip,pins =
				<3 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>;		/* CSI_RESET0# */
		};

		csi0_pwr: csi0-pwr-pins {
			rockchip,pins =
				<2 RK_PD2 RK_FUNC_GPIO &pcfg_pull_up>;		/* CSI_PWREN0 */
		};

		/* csi1 clkout = refclk_pins */

		csi1_pins: csi1-pins {
			rockchip,pins =
				<0 RK_PD4 RK_FUNC_GPIO &pcfg_pull_up>,		/* CSI_PWREN1 */
				<1 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>;		/* CSI_RESET1# */
		};
	};

	dsi {
		dsi_pins: dsi-pins {
			rockchip,pins =
				<0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>,		/* DSI_PWREN */
				<0 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>;		/* DSI_RESET# */
		};
	};

	fusb302 {
		fusb302_pins: fusb302-pins {
			rockchip,pins =
				<0 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>;		/* USB3_OTG_INT */
		};
	};

	i2s {
		i2s1_pins: i2s1-pins {
			rockchip,pins =
				<3 RK_PC6 4 &pcfg_pull_none_smt>,		/* I2S1_MCLK */
				<3 RK_PC7 4 &pcfg_pull_none_smt>,		/* I2S1_TX_SCLK */
				<3 RK_PD0 4 &pcfg_pull_none_smt>;		/* I2S1_TX_LRCK */
		};
	};

	leds {
		leds_pins: leds-pins {
			rockchip,pins =
				<0 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>,	/* LED1 */
				<0 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;	/* LED2 */
		};
	};

	lvds {
		lvds_pins: lvds-pins {
			rockchip,pins =
				<0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;		/* LVDS_PWREN */
		};
	};

	net {
		gmac0_rst_pins: gmac0-rst-pins {
			rockchip,pins =
				<2 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;	/* GMAC0_RST */
		};

		gmac1_rst_pins: gmac1-rst-pins {
			rockchip,pins =
				<4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;	/* GMAC1_RST */
		};
	};

	pcie20 {
		pcie20_pins: pcie20-pins {
			rockchip,pins =
				<2 RK_PD0 4 &pcfg_pull_none>,			/* PCIE20_CLKREQn_M1 */
				<2 RK_PD1 4 &pcfg_pull_none>,			/* PCIE20_WAKEn_M1 */
				<1 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;	/* PCIE20_PERST */
		};

		pcie20_pwr_pins: pcie20-pwr-pins {
			rockchip,pins =
				<3 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;	/* PCIE20_PWREN */
		};
	};

	pcie30 {
		pcie30_pins: pcie30-pins {
			rockchip,pins =
				<4 RK_PC2 4 &pcfg_pull_none>,			/* PCIE30X2_CLKREQn_M2 */
				<4 RK_PC3 4 &pcfg_pull_none>,			/* PCIE30X2_WAKEn_M2 */
				<4 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>;		/* PCIE30X2_PERSTn_M2 */
		};

		pcie30_oe_pins: pcie30-oe-pins {
			rockchip,pins =
				<3 RK_PD4 RK_FUNC_GPIO &pcfg_pull_up>;		/* PCIECLKIC_OE */
		};

		pcie30_pwr_pins: pcie30-pwr-pins {
			rockchip,pins =
				<3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>;		/* PCIE30_PWREN */
		};
	};

	pmic {
		pmic_int_pins: pmic-int-pins {
			rockchip,pins =
				<0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;		/* PMIC_IRQ# */
		};
	};

	usb {
		usb3_host1_en_pins: usb3-host1-en-pins {
			rockchip,pins =
				<1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;	/* USB3_HOST1_EN */
		};

		usb3_otg0_en_pins: usb3-otg0-en-pins {
			rockchip,pins =
				<1 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;	/* USB3_OTG0_EN */
		};
	};

	usbmux {
		usbmux_pins: usbmux-pins {
			rockchip,pins =
				<4 RK_PD2 RK_FUNC_GPIO &pcfg_pull_up>,		/* USB3_OTG0_SEL */
				<3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;	/* Unused */
		};
	};
};
