/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;

#include <dt-bindings/soc/rockchip,vop2.h>

#include "rk3568-diasom-som.dtsi"

#define USBOTG_HOST

/ {
	model = "Diasom DS-RK3568-SOM-EVB";
	compatible = "diasom,ds-rk3568-som-evb", "diasom,ds-rk3568-som", "rockchip,rk3568";

	aliases {
		camera0 = &xc7160;
		camera1 = &imx335;
		can0 = &can1;
		can1 = &can2;
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		mmc0 = &sdmmc0;
		sound0 = &sound0;
	};

	chosen {
		environment-sd {
			compatible = "barebox,environment";
			device-path = &sdmmc0, "partname:env";
			status = "disabled";
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm5 0 25000 0>;
		brightness-levels = <0 255>;
		num-interpolated-steps = <256>;
		default-brightness-level = <255>;
	};

	hdmi-connector {
		compatible = "hdmi-connector";
		label = "HDMI";
		type = "a";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&hdmi_connector_out>;
			};
		};
	};

	lvds: lvds {
		compatible = "rockchip,rk3568-lvds";
		phys = <&dsi_dphy0>;
		phy-names = "dphy";
		power-domains = <&power RK3568_PD_VO>;
		rockchip,grf = <&grf>;
		rockchip,output = "lvds";
		status = "disabled";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				lvds_in_vp2: endpoint {
					remote-endpoint = <&vp2_out_lvds>;
				};
			};

			port@1 {
				reg = <1>;

				lvds_out_panel: endpoint {
					remote-endpoint = <&lvds_in_panel>;
				};
			};
		};
	};

	lvds_panel: panel {
		pinctrl-names = "default";
		pinctrl-0 = <&lvds_pins>;
		compatible = "panel-lvds";
		backlight = <&backlight>;
		data-mapping = "jeida-24";
		enable-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
		width-mm = <210>;
		height-mm = <158>;
		status = "disabled";

		panel-timing {
			/* Raystar RFM1040G-AWW-LNN 1024x768@60 */
			clock-frequency = <65000000>;
			hactive = <1024>;
			vactive = <768>;
			hsync-len = <4>;
			hfront-porch = <100>;
			hback-porch = <216>;
			vfront-porch = <30>;
			vback-porch = <7>;
			vsync-len = <1>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <0>;
			pixelclk-active = <0>;
		};

		port {
			lvds_in_panel: endpoint {
				remote-endpoint = <&lvds_out_panel>;
			};
		};
	};

	sound0: es8388-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "ES8388";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&es8388_master>;
		simple-audio-card,frame-master = <&es8388_master>;

		es8388_master: simple-audio-card,cpu {
			sound-dai = <&i2s1_8ch>;
		};

		simple-audio-card,codec {
			sound-dai = <&es8388>;
		};
	};

	usb {
		pinctrl-names = "default";
		pinctrl-0 = <&usbmux_pins>;
		compatible = "genesys,gl9962", "gpio-sbu-mux";
		enable-gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
		select-gpios = <&gpio4 RK_PD2 GPIO_ACTIVE_LOW>;
		orientation-switch;

		port {
			typec_sbu: endpoint {
				remote-endpoint = <&fusb_sbu>;
			};
		};
	};

	vcc1v8_sys: vcc1v8-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "1v8_sys";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc3v3_sys>;
	};

	vcc3v3_pcie20: vcc3v3-pcie20-pwr-regulator {
		pinctrl-0 = <&pcie20_pwr_pins>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 RK_PD3 GPIO_ACTIVE_HIGH>;
		regulator-name = "3v3_pcie20";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <20000>;
		vin-supply = <&vcc3v3_sys>;
	};

	vcc3v3_pcie30: vcc3v3-pcie30-regulator {
		pinctrl-0 = <&pcie30_pwr_pins>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
		regulator-name = "3v3_pcie30";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <20000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_pi6c: vcc3v3-pi6c-regulator {
		pinctrl-0 = <&pcie30_oe_pins>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		gpio = <&gpio3 RK_PD4 GPIO_ACTIVE_LOW>;
		regulator-name = "3v3_pi6c";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <1000>;
		vin-supply = <&vcc3v3_pcie30>;
	};

	vcc5v0_usb3_host1: vcc5v0-usb3-host1-regulator {
		pinctrl-names = "default";
		pinctrl-0 = <&usb3_host1_en_pins>;
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc5v0_usb3_host1";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		startup-delay-us = <20000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0_usb3_otg0: vcc5v0-usb3-otg0-regulator {
		pinctrl-names = "default";
		pinctrl-0 = <&usb3_otg0_en_pins>;
		compatible = "regulator-fixed";
		gpio = <&gpio1 RK_PA5 GPIO_ACTIVE_LOW>;
		regulator-name = "vcc5v0_usb3_otg0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		startup-delay-us = <20000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_cam: vcc-cam-regulator {
		pinctrl-names = "default";
		pinctrl-0 = <&csi0_pwr>;
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio2 RK_PD2 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc_cam";
		startup-delay-us = <250000>;
		vin-supply = <&vcc5v0_sys>;
	};
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&can1m0_pins>;
	status = "okay";
};

&can2 {
	pinctrl-names = "default";
	pinctrl-0 = <&can2m0_pins>;
	status = "okay";
};

&combphy1 {
	/* USB3.0 HOST1 */
	status = "okay";
};

&combphy2 {
	/* PCI-E 2.0 */
	phy-supply = <&vcc3v3_pcie20>;
	status = "okay";
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			xc7160_in: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&xc7160_out>;
				data-lanes = <1 2 3 4>;
			};

			imx335_in: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx335_out>;
				data-lanes = <1 2 3 4>;
			};
		};

		port@1 {
			reg = <1>;

			csi_out: endpoint {
				remote-endpoint = <&isp_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&csi2_dphy_hw {
	status = "okay";
};

&display_subsystem {
	status = "okay";
};

&dsi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	panel@0 {
		pinctrl-names = "default";
		pinctrl-0 = <&dsi_pins>;
		compatible = "raystar,display-rfh1010j-ayh";
		reg = <0>;
		backlight = <&backlight>;
		reset-gpios = <&gpio0 RK_PB6 GPIO_ACTIVE_HIGH>;
		enable-gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
		vdd-supply = <&vcc3v3_sys>;
		vccio-supply = <&vcc1v8_sys>;

		port {
			dsi_in_panel: endpoint {
				remote-endpoint = <&dsi_out_panel>;
			};
		};
	};
};

&dsi_dphy0 {
	status = "okay";
};

&dsi0_in {
	dsi0_in_vp1: endpoint {
		remote-endpoint = <&vp1_out_dsi0>;
	};
};

&dsi0_out {
	dsi_out_panel: endpoint {
		remote-endpoint = <&dsi_in_panel>;
	};
};

&isp {
	status = "okay";
};

&isp_mmu {
	status = "okay";
};

&isp_vir0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&csi_out>;
		};
	};
};

&gmac0 {
	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim &gmac0_tx_bus2 &gmac0_rx_bus2 &gmac0_rgmii_clk &gmac0_rgmii_bus>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy0>;
	phy-mode = "rgmii-id";
	phy-supply = <&vcc3v3_sys>;
	status = "okay";
};

&gmac1 {
	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim &gmac1m1_tx_bus2 &gmac1m1_rx_bus2 &gmac1m1_rgmii_clk &gmac1m1_rgmii_bus>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy1>;
	phy-mode = "rgmii-id";
	phy-supply = <&vcc3v3_sys>;
	status = "okay";
};

&gpu {
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmi_in {
	hdmi_in_vp0: endpoint {
		remote-endpoint = <&vp0_out_hdmi>;
	};
};

&hdmi_out {
	hdmi_connector_out: endpoint {
		remote-endpoint = <&hdmi_connector_in>;
	};
};

&hdmi_sound {
	status = "okay";
};

&i2c1 {
	/* FUSB302 is not detected at 1MHz, so lets reduce frequency to 400KHz */
	clock-frequency = <400000>;
	status = "okay";

	usb@22 {
		pinctrl-names = "default";
		pinctrl-0 = <&fusb302_pins>;
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PC1 IRQ_TYPE_LEVEL_LOW>;
		vbus-supply = <&vcc5v0_usb3_otg0>;

		connector {
			compatible = "usb-c-connector";
#ifdef USBOTG_HOST
			data-role = "host";
#else
			data-role = "dual";
#endif
			label = "USB-C";
			pd-disable;
			power-role = "source";
			typec-power-opmode = "default";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					/* HS */
					reg = <0>;

					fusb_hs: endpoint {
						remote-endpoint = <&typec_hs>;
					};
				};

				port@1 {
					/* SS */
					reg = <1>;

					fusb_ss: endpoint {
						remote-endpoint = <&typec_ss>;
					};
				};

				port@2 {
					/* Orientation Switch */
					reg = <2>;

					fusb_sbu: endpoint {
						remote-endpoint = <&typec_sbu>;
					};
				};
			};
		};

		port {
			/* Role Switch */

			fusb_role_sw: endpoint {
				remote-endpoint = <&typec_role_sw>;
			};
		};
	};
};

&i2c4 {
	clock-frequency = <400000>;
	status = "okay";

	es8388: codec@10 {
		compatible = "everest,es8388";
		assigned-clocks = <&cru I2S1_MCLKOUT_TX>;
		assigned-clock-rates = <12288000>;
		assigned-clock-parents = <&cru CLK_I2S1_8CH_TX>;
		reg = <0x10>;
		clocks = <&cru I2S1_MCLKOUT_TX>;
		DVDD-supply = <&vcc1v8_sys>;
		AVDD-supply = <&vcc3v3_sys>;
		PVDD-supply = <&vcc3v3_sys>;
		HPVDD-supply = <&vcc3v3_sys>;

		#sound-dai-cells = <0>;
	};

	imx335: camera@1a {
		compatible = "sony,imx335";
		reg = <0x1a>;
		clocks = <&xin24m>;
		power-domains = <&power RK3568_PD_VI>;
		avdd-supply = <&vcc_cam>;
		dvdd-supply = <&vcc_cam>;
		ovdd-supply = <&vcc_cam>;
		status = "disabled";

		port {
			imx335_out: endpoint {
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&imx335_in>;
				link-frequencies = /bits/ 64 <594000000>;
			};
		};
	};

	xc7160: camera@1b {
		pinctrl-names = "default";
		pinctrl-0 = <&cif_clk &csi0_rst>;
		compatible = "firefly,xc7160";
		reg = <0x1b>;
		clocks = <&cru CLK_CIF_OUT>;
		clock-names = "xvclk";
		power-domains = <&power RK3568_PD_VI>;
		reset-gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_HIGH>;
		avdd-supply = <&vcc5v0_sys>;
		dovdd-supply = <&vcc5v0_sys>;
		dvdd-supply = <&vcc5v0_sys>;
		status = "disabled";

		port {
			xc7160_out: endpoint {
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&xc7160_in>;
			};
		};
	};
};

&i2s0_8ch {
	/* HDMI Sound */
	status = "okay";
};

&i2s1_8ch {
	/* I2S Sound */
	pinctrl-0 = <
		&i2s1_pins
		&i2s1m1_sdo0		/* I2S1_SDO0 */
		&i2s1m1_sdi0		/* I2S1_SDI0 */
	>;
	rockchip,trcm-sync-tx-only;
	status = "okay";
};

&mdio0 {
	rgmii_phy0: phy@0 {
		pinctrl-names = "default";
		pinctrl-0 = <&gmac0_rst_pins>;
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio2 RK_PD3 GPIO_ACTIVE_LOW>;
	};
};

&mdio1 {
	rgmii_phy1: phy@0 {
		pinctrl-names = "default";
		pinctrl-0 = <&gmac1_rst_pins>;
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_LOW>;
	};
};

&pcie2x1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie20_pins>;
	reset-gpios = <&gpio1 RK_PB1 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pcie20>;
	status = "okay";
};

&pcie3x2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie30_pins>;
	reset-gpios = <&gpio4 RK_PC4 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_pi6c>;
	status = "okay";
};

&pcie30phy {
	phy-supply = <&vcc3v3_pcie30>;
	status = "okay";
};

&pwm5 {
	status = "okay";
};

&rga {
	status = "okay";
};

&sdmmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	cd-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
	disable-wp;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc3v3_sys>;
	vqmmc-supply = <&vccio_sd>;
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1m1_pins_hs &spi1m1_cs0_hs>;
	num-cs = <1>;
	status = "okay";

	spi@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
	};
};

&spi2 {
	pinctrl-0 = <&spi2m1_pins_hs &spi2m1_cs0_hs &spi2m1_cs1_hs>;
	num-cs = <2>;
	status = "okay";

	spi@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
	};

	spi@1 {
		compatible = "rohm,dh2228fv";
		reg = <1>;
	};
};

&vpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};

&vepu_mmu {
	status = "okay";
};

&vop {
	assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>;
	assigned-clock-parents = <&pmucru PLL_HPLL>, <&cru PLL_VPLL>;
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vp0 {
	vp0_out_hdmi: endpoint@ROCKCHIP_VOP2_EP_HDMI0 {
		reg = <ROCKCHIP_VOP2_EP_HDMI0>;
		remote-endpoint = <&hdmi_in_vp0>;
	};
};

&vp1 {
	vp1_out_dsi0: endpoint@ROCKCHIP_VOP2_EP_MIPI0 {
		reg = <ROCKCHIP_VOP2_EP_MIPI0>;
		remote-endpoint = <&dsi0_in_vp1>;
	};
};

&vp2 {
	status = "disbled";

	vp2_out_lvds: endpoint@ROCKCHIP_VOP2_EP_LVDS0 {
		reg = <ROCKCHIP_VOP2_EP_LVDS0>;
		remote-endpoint = <&lvds_in_vp2>;
	};
};

&uart3 {
	pinctrl-0 = <&uart3m1_xfer &uart3m0_ctsn &uart3m0_rtsn>;
	status = "okay";
};

&uart7 {
	pinctrl-0 = <&uart7m1_xfer &uart7m0_ctsn &uart7m0_rtsn>;
	status = "okay";
};

&uart8 {
	pinctrl-0 = <&uart8m0_xfer &uart8m0_ctsn &uart8m0_rtsn>;
	status = "okay";
};

&uart9 {
	pinctrl-0 = <&uart9m1_xfer>;
	status = "okay";
};

&usb_host0_xhci {
#ifdef USBOTG_HOST
	dr_mode = "host";
#else
	usb-role-switch;
#endif

	port {
		typec_role_sw: endpoint {
			/* Role Switch */

			remote-endpoint = <&fusb_role_sw>;
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			/* HS */
			reg = <0>;

			typec_hs: endpoint {
				remote-endpoint = <&fusb_hs>;
			};
		};

		port@1 {
			/* SS */
			reg = <1>;

			typec_ss: endpoint {
				remote-endpoint = <&fusb_ss>;
			};
		};
	};
};

&usb_host1_xhci {
	status = "okay";
};

&usb2phy0_host {
	phy-supply = <&vcc5v0_usb3_host1>;
};

&vdda0v9_image {
	/* Temporary hack regulator-always-on and regulator-boot-on
	   properties until we have regulator handling for dsi & lvds nodes
	*/
	regulator-always-on;
	regulator-boot-on;
};

&vcca1v8_image {
	/* Temporary hack regulator-always-on and regulator-boot-on
	   properties until we have regulator handling for dsi & lvds nodes
	*/
	regulator-always-on;
	regulator-boot-on;
};

&pinctrl {
	pinctrl-0 = <&board_pins>;
	pinctrl-names = "default";

	board {
		board_pins: board-pins {
			rockchip,pins =
				<1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>,		/* GPIO_1 */
				<1 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>,		/* GPIO_2 */
				<1 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>,		/* GPIO_3 */
				<1 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;		/* GPIO_4 */
		};
	};

	csi {
		/* csi0 clkout = cif_clk */

		csi0_rst: csi0-rst-pins {
			rockchip,pins =
				<3 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>;		/* CSI_RESET0# */
		};

		csi0_pwr: csi0-pwr-pins {
			rockchip,pins =
				<2 RK_PD2 RK_FUNC_GPIO &pcfg_pull_up>;		/* CSI_PWREN0 */
		};

		/* csi1 clkout = refclk_pins */

		csi1_pins: csi1-pins {
			rockchip,pins =
				<0 RK_PD4 RK_FUNC_GPIO &pcfg_pull_up>,		/* CSI_PWREN1 */
				<1 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>;		/* CSI_RESET1# */
		};
	};

	dsi {
		dsi_pins: dsi-pins {
			rockchip,pins =
				<0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>,		/* DSI_PWREN */
				<0 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>;		/* DSI_RESET# */
		};
	};

	fusb302 {
		fusb302_pins: fusb302-pins {
			rockchip,pins =
				<0 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>;		/* USB3_OTG_INT */
		};
	};

	i2s {
		i2s1_pins: i2s1-pins {
			rockchip,pins =
				<3 RK_PC6 4 &pcfg_pull_none_smt>,		/* I2S1_MCLK */
				<3 RK_PC7 4 &pcfg_pull_none_smt>,		/* I2S1_TX_SCLK */
				<3 RK_PD0 4 &pcfg_pull_none_smt>;		/* I2S1_TX_LRCK */
		};
	};

	lvds {
		lvds_pins: lvds-pins {
			rockchip,pins =
				<0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;		/* LVDS_PWREN */
		};
	};

	net {
		gmac0_rst_pins: gmac0-rst-pins {
			rockchip,pins =
				<2 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;	/* GMAC0_RST */
		};

		gmac1_rst_pins: gmac1-rst-pins {
			rockchip,pins =
				<4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;	/* GMAC1_RST */
		};
	};

	pcie20 {
		pcie20_pins: pcie20-pins {
			rockchip,pins =
				<2 RK_PD0 4 &pcfg_pull_none>,			/* PCIE20_CLKREQn_M1 */
				<2 RK_PD1 4 &pcfg_pull_none>,			/* PCIE20_WAKEn_M1 */
				<1 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;	/* PCIE20_PERST */
		};

		pcie20_pwr_pins: pcie20-pwr-pins {
			rockchip,pins =
				<3 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;	/* PCIE20_PWREN */
		};
	};

	pcie30 {
		pcie30_pins: pcie30-pins {
			rockchip,pins =
				<4 RK_PC2 4 &pcfg_pull_none>,			/* PCIE30X2_CLKREQn_M2 */
				<4 RK_PC3 4 &pcfg_pull_none>,			/* PCIE30X2_WAKEn_M2 */
				<4 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>;		/* PCIE30X2_PERSTn_M2 */
		};

		pcie30_oe_pins: pcie30-oe-pins {
			rockchip,pins =
				<3 RK_PD4 RK_FUNC_GPIO &pcfg_pull_up>;		/* PCIECLKIC_OE */
		};

		pcie30_pwr_pins: pcie30-pwr-pins {
			rockchip,pins =
				<3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_up>;		/* PCIE30_PWREN */
		};
	};

	usb {
		usb3_host1_en_pins: usb3-host1-en-pins {
			rockchip,pins =
				<1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;	/* USB3_HOST1_EN */
		};

		usb3_otg0_en_pins: usb3-otg0-en-pins {
			rockchip,pins =
				<1 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;	/* USB3_OTG0_EN */
		};
	};

	usbmux {
		usbmux_pins: usbmux-pins {
			rockchip,pins =
				<4 RK_PD2 RK_FUNC_GPIO &pcfg_pull_up>,		/* USB3_OTG0_SEL */
				<3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;	/* Unused */
		};
	};
};
