/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;

#include "rk3568-diasom-som.dtsi"

/ {
	model = "Diasom DS-RK3568-SMARC";
	compatible = "diasom,ds-rk3568-smarc", "diasom,ds-rk3568-som", "rockchip,rk3568";

	aliases {
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
	};
};

&display_subsystem {
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&i2c2m1_xfer>;
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&gmac0 {
	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim &gmac0_tx_bus2 &gmac0_rx_bus2 &gmac0_rgmii_clk &gmac0_rgmii_bus>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy0>;
	phy-mode = "rgmii-id";
	phy-supply = <&vcc3v3_sys>;
	status = "okay";
};

&gmac1 {
	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m1_miim &gmac1m1_tx_bus2 &gmac1m1_rx_bus2 &gmac1m1_rgmii_clk &gmac1m1_rgmii_bus>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy1>;
	phy-mode = "rgmii-id";
	phy-supply = <&vcc3v3_sys>;
	status = "okay";
};

&gpu {
	status = "okay";
};

&mdio0 {
	rgmii_phy0: phy@0 {
		pinctrl-names = "default";
		pinctrl-0 = <&gmac0_rst_pins>;
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio1 RK_PA4 GPIO_ACTIVE_LOW>;
	};
};

&mdio1 {
	rgmii_phy1: phy@0 {
		pinctrl-names = "default";
		pinctrl-0 = <&gmac1_rst_pins>;
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
		reset-gpios = <&gpio2 RK_PC5 GPIO_ACTIVE_LOW>;
	};
};

&pcie2x1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie20m2_pins>;
	reset-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vcc3v3_sys>;
	status = "okay";
};

&rga {
	status = "okay";
};

&uart3 {
	pinctrl-0 = <&uart3m1_xfer>;
	/* Should be added in 6.10+ */
	dma-names = "tx", "rx";
	status = "okay";
};

//&uart5 {
//	pinctrl-0 = <&uart5m0_xfer &uart5m0_ctsn &uart5m0_rtsn>;
//	/* Should be added in 6.10+ */
//	dma-names = "tx", "rx";
//	status = "okay";
//};

&uart7 {
	pinctrl-0 = <&uart7m1_xfer>;
	/* Should be added in 6.10+ */
	dma-names = "tx", "rx";
	status = "okay";
};

&usb_host0_xhci {
	dr_mode = "host";
};

&usb_host1_xhci {
	status = "okay";
};

&vdda0v9_image {
	/* Temporary hack regulator-always-on and regulator-boot-on
	   properties until we have regulator handling for dsi & lvds nodes
	*/
	regulator-always-on;
	regulator-boot-on;
};

&vcca1v8_image {
	/* Temporary hack regulator-always-on and regulator-boot-on
	   properties until we have regulator handling for dsi & lvds nodes
	*/
	regulator-always-on;
	regulator-boot-on;
};

&vpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};

&vepu_mmu {
	status = "okay";
};

&pinctrl {
	net {
		gmac0_rst_pins: gmac0-rst-pins {
			rockchip,pins =
				<1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;	/* GMAC0_RST */
		};

		gmac1_rst_pins: gmac1-rst-pins {
			rockchip,pins =
				<2 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;	/* GMAC1_RST */
		};
	};
};
