/* SPDX-License-Identifier: GPL-2.0+ */
/* SPDX-FileCopyrightText: Alexander Shiyan <shc_work@mail.ru> */

/dts-v1/;
/plugin/;

&csi_out {
	data-lanes = <1 2>;
};

&i2c4 {
	i2c-mux@70 {
		compatible = "nxp,pca9546";
		reg = <0x70>;
		vdd-supply = <&vcc3v3_sys>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};

&imx335_in {
	data-lanes = <1 2>;
};

&imx335_out {
	data-lanes = <1 2>;
};

&vcc_cam0 {
	vin-supply = <&vcc3v3_sys>;
};

&vcc_cam1 {
	vin-supply = <&vcc3v3_sys>;
};
